
<div class="body">
<div  *ngIf="step === 1">
    <div class="container">
        <div class="drop">
            <div class="content">
                <h2 class='animate__heartBeat'>Enter Email</h2>
                <div *ngIf="successMessage" class="succes-message">{{ successMessage }}</div>
                <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
                <form (submit)="requestPasswordReset()">
                    <div class="input-box">
                        <input type="text" id="email" name="email" [(ngModel)]="email" placeholder="email">
                        </div>
                 
                    <div class="input-box">
                        <input type="submit" value="Send ">
                        </div>
                </form>
        </div>	
        </div>
        <a [routerLink]="'/login'" class='btn signup'>Login</a>

    </div>
  </div>
  <div *ngIf="step === 2"  >

    <div class="container">
        <div class="drop">
            <div class="content">
                <h2 class='animate__heartBeat'>Enter Reset Code</h2>
                <div *ngIf="successMessage" class="succes-message">{{ successMessage }}</div>
                <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
                <form (submit)="checkResetCode()">
                    <code-input [isCodeHidden]="false"
                    [codeLength]="6"
                    (codeChanged)="onCodeChanged($event)"
                    (codeCompleted)="onCodeCompleted($event)">
        </code-input>
        
        
                </form>
        </div>	
        </div>
        <a [routerLink]="'/login'" class='btn signup'>Login</a>

    </div>
   
  </div>
  
  <div  *ngIf="step === 3">
    <div class="container">
        <div class="drop">
            <div class="content">
                <h2 class='animate__heartBeat'>Set New Password</h2>
                <div *ngIf="successMessage" class="succes-message">{{ successMessage }}</div>
                <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
                <form (submit)="resetPassword()">
                    <div class="input-box">
                        <input type="text"  id="newPassword" name="newPassword" [(ngModel)]="newPassword" placeholder="newPassword">
                        </div>
                        <div class="input-box">
                            <input type="text"  id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="confirmPassword">
                            </div>
                 
                    <div class="input-box" style="background: #e96565">
                        <input style="font-size: 0.8em;" class="pass" type="submit" value="Change Pass">
                        </div>
                </form>
        </div>	
        </div>
        <a [routerLink]="'/login'" class='btn signup'>Login</a>

    </div>


  </div>

</div>
  




