
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<button (click)="logout()" class="logout-btn">Logout</button>

<div class="table-container">
    <h2>List Users</h2>
    <div class="drop">
        <table class="user-table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody cdkDropList (cdkDropListDropped)="drop($event)">
                <tr *ngFor="let user of users" cdkDrag>
                    <td contenteditable="true">{{ user.email }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td (click)="deleteUser(user.id)"><i class="material-icons delete-icon">delete</i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
